node_modules

#########################
# openFrameworks patterns
#########################

# build files
openFrameworks/openFrameworks.a
openFrameworks/openFrameworksDebug.a
openFrameworks/openFrameworksUniversal.a
openFrameworks/libs/openFrameworksCompiled/lib/*/*
!openFrameworks/libs/openFrameworksCompiled/lib/*/.gitkeep

# apothecary
openFrameworks/scripts/apothecary

# rule to avoid non-official addons going into git
# see addons/.gitignore
# addons/*

# rule to avoid non-official apps going into git
# see apps/.gitignore
# apps/*

# rule to ignore compiled / downloaded libs
openFrameworks//libs/*
!openFrameworks//libs/openFrameworks
!openFrameworks//libs/openFrameworksCompiled

# also, see examples/.gitignore

#########################
# general
#########################

openFrameworks/[Bb]uild/
openFrameworks/[Oo]bj/
*.o
openFrameworks/examples/**/[Dd]ebug*/
openFrameworks/examples/**/[Rr]elease*/
openFrameworks/examples/**/gcc-debug/
openFrameworks/examples/**/gcc-release/
openFrameworks/tests/**/[Dd]ebug*/
openFrameworks/tests/**/[Rr]elease*/
openFrameworks/tests/**/gcc-debug/
openFrameworks/tests/**/gcc-release/
*.mode*
*.app/
*.pyc
openFrameworks/.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
openFrameworks/xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
openFrameworks/ipch/

# Eclipse
openFrameworks/.metadata
openFrameworks/local.properties
openFrameworks/.externalToolBuilders

# Android Studio
openFrameworks/.idea
openFrameworks/.gradle
openFrameworks/gradle
openFrameworks/gradlew
openFrameworks/gradlew.bat

# QtCreator
*.qbs.user
*.pro.user
*.pri


#########################
# operating system
#########################

# Linux
*~
# KDE
openFrameworks/.directory
openFrameworks/.AppleDouble

# OSX
openFrameworks/.DS_Store
*.swp
*~.nib
# Thumbnails
openFrameworks/._*
openFrameworks/examples/ios/**/mediaAssets

# Windows
# Windows image file caches
openFrameworks/Thumbs.db
# Folder config file
openFrameworks/Desktop.ini

# Android
openFrameworks/.csettings
openFrameworks//libs/openFrameworksCompiled/project/android/paths.make

# Android Studio
*.iml

#########################
# miscellaneous
#########################

openFrameworks/.mailmap
